<form action="/" method="post", style="text-align: center;">
    <input name="train_model" type="submit" value="Train Model" />
    <br>
    api_stock_ticker: <input type="text" name="api_stock_ticker", placeholder="Enter ticker" required/>
    <br><br>
</form>

</form>
<p id="learn_output"></p>

{% if train_model %}
<script>
    var target_output = document.getElementById("learn_output");
    var learn_update = new EventSource("/learn");

    learn_update.onmessage = function (e) {
        if (e.data == "close") {
            learn_update.close();
        } else {
            target_output.innerHTML = "Status: " + e.data;
        }
    };
</script>
{% endif %}